<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div style = "border: 1px solid black;text-align: center;">
    <div class="collapse navbar-collapse" style = "border: 1px solid red;width: 480px;height: 640px;display: inline-block;float: none;">
        <ul class="nav navbar-nav">
            <li>左边和</li>
            <li>右边</li>
        </ul>
    </div>
</div>
</body>
</html>